.aside {
    margin-top: 30px;
    max-width: 234px;

    &__categories {
        display: flex;
    flex-direction: column;
    }

    &__select {
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    }
}

