.aside {
    margin-top: 30px;
    max-width: 234px;
}

.aside__categories {
    display: flex;
    flex-direction: column;
}

.aside__select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}