.banner {
    margin-left: 30px;
    margin-top: 27px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;

    &__img {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        position: relative;
    }

    &__info {
        background-color: #F99C11;
        padding: 100px;
        padding-top: 20px;
        position: absolute;
        top: 0;
        clip-path: circle(57.4% at 51% 0);
        left: 10%;
    }

    &__head {
        font-family: 'Comfortaa';
        font-size: 24px;
        font-weight: 900;
        line-height: 35px;
        text-transform: uppercase;
        margin-bottom: 15px;

        &--sale {
            border-radius: 5px;
            background-color: #E78A00;
            padding: 4px;
        }
    }

    &__describe {
        font-family: 'Comfortaa Medium';
        font-weight: 500;
    }

    &__scrol {
        position: absolute;
        top: 262px;
        width: 100%;
        display: flex;
        padding: 0 20px;
    }
}
