.banner__img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: relative;
}

.banner {
    margin-left: 30px;
    margin-top: 27px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.banner__info {
    background-color: #F99C11;
    padding: 40px 50px 100px 50px;
    border-top-left-radius: 20px;
    max-width: 400px;
    clip-path: circle(59.8% at 40% 24%);
    position: absolute;
    top: 0;
}

.banner__head {
    font-family: 'Comfortaa';
    font-size: 24px;
    font-weight: 900;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.banner__head--sale {
    border-radius: 5px;
    background-color: #E78A00;
    padding: 4px;
}

.banner__describe {
    font-family: 'Comfortaa Medium';
    font-weight: 500;
}

.banner__scrol {
    position: absolute;
    top: 262px;
    width: 100%;
    display: flex;
    padding: 0 20px;
}