.basket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 52px;
    margin-bottom: 182px;
}

.basket__head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.basket__link {
    font-family: 'Comfortaa';
    font-size: 17px;
    font-weight: 300;
    color: #585858;
    text-decoration: underline;
    margin-left: 30px;
}

.basket__categories {
    display: flex;
    flex-direction: row;
    padding: 23px 66px 15px 66px;
    border-bottom: 1px solid #E1E1E1;
}

.basket__categories--item {
    margin-right: 70px;
    color: #585858;
}

.basket__categories--item:last-child {
    margin-right: 0;
}

.basket__categories--case {
    margin-right: 350px;
}

.basket__article {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 63px;
    border-bottom: 1px solid #E1E1E1;
}

.basket__image {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}

.basket__article--name {
    color: #000;
    margin-right: 20px;
    max-width: 230px;
}

.basket__article--price {
    width: 100px;
    font-size: 17px;
    text-align: center;
    color: #000;
}

.basket__article--sum {
    
    font-weight: 700;
}

.basket__quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 113px;
    margin: 0 20px;
    padding: 5px;
    border-radius: 50px;
    background-color: #FFEAF1;
}

.basket__quantity--input {
    background: none;
    border-style: none;
    max-width: 20px;
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 17px;
    font-weight: 700;
}

.basket__sum {
    padding: 50px;
    background-color: #FFEAF1;
    height: 100%;
    width: 410px;
    border-radius: 20px;
    margin-top: 27px;
}

.basket__enter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basket__oreder--name {
    color: #000;
    font-size: 17px;
}

.basket__oreder--sum {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}



