.brands {
    margin-top: 58px;
}

.brands__head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brands__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.brands__description {
    color: #000;
    max-width: 1000px;
    padding-top: 78px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brands__description--text {
    padding-bottom: 17px;
}


.brands__description--link {
    color: #D03664;
    font-weight: 600;
    border-bottom: 1px solid #D03664;
}

