.catalog {
    padding: 30px 0 30px 30px;
    width: 234px;
    background-color: #FFFFFF;
}

.catalog--top {
    display: flex;
    flex-direction: row;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #000;
    font-family: 'Comfortaa';
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
}

.catalog__btn {
    width: 30px;
	height: 16px;
	position: relative;
	z-index: 2;
	overflow: hidden;
    margin-right: 7px;
}

.catalog__btn span {
    width: 25px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #D03664;
	transition: all 0.5s;
    
}

.catalog__btn span:nth-of-type(2) {
	top: calc(50% - 7px);
}
.catalog__btn span:nth-of-type(3) {
	top: calc(50% + 7px);
}

.catalog--bottom {
    padding-top: 15px;
    padding-bottom: 5px;
    width: 234px;
    background-color: #FFFFFF;
    font-family: 'Comfortaa Light';
    font-weight: 300;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.07);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.catalog__item {
    padding-bottom: 24px;
}

.catalog__link {
    color: #000;
    display: flex;
    align-items: center;
}

.catalog__list {
    padding: 0;
    margin-bottom: 0;
}

.catalog__item--icon {
    margin-right: 11px;
}