.counter {
    font-family: 'Comfortaa';
    font-weight: 700;
    width: 21px;
    height: 21px;
    margin-left: 5px;
    display: flex;
    padding-top: 3px;

    &__basket {
        border-radius: 50%;
        width: 21px;
        height: 21px;
        background-color: #AA2B51;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        padding-top: 3px;
    }

    &--active {
        background-color: #F99C11;
    }
    
}
