.filter {
    display: flex;
    flex-direction: column;

    &__availability {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 26px 0;
      border-bottom: 1px solid #E1E1E1;
    }

    &__maker {
      padding: 20px 0;
      border: 0;
    }

    &__checkbox {
      height: 20px;
      width: 20px;

      &--text {
        color: #000;
        margin-left: 10px;
      }
    }

    &__brands {
      padding: 20px 0;
    }

    &__range {
      padding: 22px 0 28px 0;
      border-bottom: 1px solid #E1E1E1;
    }

    &__control {
      margin-top: 30px;
  }

  &__sort {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__quantity {
    margin-left: 20px;

    &--link {
      color: #585858;
      text-decoration: underline;
    }

    &--active {
      color: #000;
      text-decoration: none;
    }
  }

}


  
 .min-price,
 .max-price {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    padding: 15px;
    border: 1px solid #E1E1E1;
    color: #000;
    border-radius: 5px;
    width: 100%;
  }

  
  .price-controls {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      color: #000;
      margin: 0 10px;
    }
  }

  
  .range-controls {
    position: relative;
    margin-bottom: 26px;

    & .scale {
      height: 5px;
      background: #E1E1E1;
    }

    & .bar {
      position: absolute;
      width: 169px;
      height: 5px;
      left: 42px;
        
      background: #D03664;
    }
  }
  
  
  .range-toggle {
    position: absolute;
    top: -11px;
    width: 28px;
    height: 28px;
    background: #fff;
    border: 2px solid #D03664;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background: #D03664;
    }

    &-min {
      left: 28px;
    }

    &-max {
      left: 85%;
    }
  }
  
