.footer {
    width: 100%;
    margin-top: 116px;
}

.footer__section--block {
    padding: 60px 0 40px 0;
    display: flex;
    flex-direction: row;
}

.footer__contact {
    background-color: #AA2B51;
    padding: 28px 30px 27px 30px;
    border-radius: 20px;
    margin-right: 139px;
    max-width: 300px;
    height: 100%;
}

.phone--footer {
    margin-bottom: 15px;
    font-family: 'Comfortaa';
    font-size: 20px;
    font-weight: 700;
}

.footer__mail {
    margin-bottom: 12px;
    text-decoration: underline;
}

.footer__adress {
    font-family: 'Comfortaa';
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 21px;

}

.footer__information--head {
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
}

.footer__catalog--head {
    color: #fff;
    margin-top: 0;
    margin-bottom: 5px;
}

.footer__about {
    margin-right: 100px;
    padding: 0;
}

.about__item {
    margin-bottom: 15px;
}

.footer__catalog--menu {
    display: flex;
    flex-direction: row;
}


.footer__wave3 {
    background-color: #D03664;
    width: 100%;
}

.footer__left {
    background-image: url('../img/wave1.svg');
    height: 292px;
}


.footer__top {
    position: relative;
}

.footer__right {
    position: absolute;
    background-image: url('../img/wave2.svg');
    width: 1134px;
    height: 100%;
    right: 0;
    top: 0;
}

.footer__bottom {
    position: relative;
}

.footer__right--img {
    position: absolute;
    left: 28.7%;
    top: -12%;
}

.footer__payment {
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-bottom: 60px;

}

.footer__author--name {
    font-size: 14px;
}