.footer__content {
    margin-top: 84px;
    position: relative;
}

.footer__section {
    position: absolute;
    left: 315px;
    top: 377px;
}

.footer__section--block {
    display: flex;
    flex-direction: row;
}

.footer__contact {
    max-width: 280px;
    background-color: #AA2B51;
    padding: 30px 32px 30px 30px;
    border-radius: 20px;
    margin-right: 160px;
    max-height: 203px;
}

.phone--footer {
    margin-bottom: 15px;
    font-family: 'Comfortaa';
    font-size: 20px;
    font-weight: 700;
}

.footer__mail {
    margin-bottom: 12px;
    border-bottom: 1px solid #fff;
}

.footer__adress {
    font-family: 'Comfortaa';
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 21px;

}

.footer__information--head {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer__catalog--head {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 5px;
}

.footer__about {
    margin-right: 100px;
    padding: 0;
}

.about__item {
    margin-bottom: 15px;
}

.footer__catalog--menu{
    display: flex;
    flex-direction: row;
}

.footer__author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.footer__payment {
    display: flex;
    flex-direction: row;
    padding: 0;
}