.header {
    background-color: #D03664;
    width: 100%;
}

.header__content {
    display: flex;
    flex-direction: column;
}

.header__top {
    display: flex;
    flex-direction: row;
}


.header__contact {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    padding-top: 15px;
    
}

.header__bottom {
    display: flex;
    flex-direction: row;
    padding-top: 13px;
    align-items: center;
}

.header__nav {
    padding-top: 15px;
}

.header__login--name {
    border-bottom: 1px solid #fff;
    margin-left: 10px;
}



