.language__current {
    font-size: 14px;
    position: relative;
    padding-left: 25px;
    padding-right: 17px;

}

.language__current:after {
    content: '';
    position: absolute;
    top: 3px;
    height: 5px;
    right: 0;
    transform: translateY(-50%) rotate(45deg);
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    padding: 4px;
}
