.main {
    width: 100%;

    &__top {
        display: flex;
        flex-direction: row;
    }

    &__catalog {
        display: flex;
        flex-direction: row;
    }

    &__category {
        margin-top: 53px;
    }
}
