.popular {
    margin-top: 79px;
}

.popular__top {
    font-family: 'Comfortaa';
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

.popular__head {
    padding-bottom: 3px;

}

.popular__categories {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 190px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.popular__categories--carriage {
    background-color: #54AD33;
}

.popular__categories--crib {
    background-color: #DB8300;
}

.popular__categories--toilet {
    background-color: #1FC0BB;
}

.popular__categories--bed {
    background-color: #3868B3;
}

.popular__categories--puzzle {
    background-color: #A43A3A;
}

.popular__categories--bath {
    background-color: #7834AD;
}

.popular__carriages {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #6AD245;
    position: relative;
}

.popular__crib {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #EF9F42;
    position: relative;
}

.popular__toilet {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #2DEAE4;
    position: relative;
}

.popular__bed {
    grid-area: 1 / 3 / 3 / 4;
    background-color: #4F8AE2;
    position: relative;
}

.popular__puzzle {
    grid-area: 1 / 4 / 2 / 5;
    background-color: #D84545;
    position: relative;
}

.popular__bath {
    grid-area: 2 / 4 / 3 / 5;
    background-color: #A24FE2;
    position: relative;
}

.popular__item {
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
}

.popular__circle {
    position: relative;
    clip-path: circle(50.2% at 78% 31%);
    border-top-right-radius: 20px;
    width: 100%;
    height: 100%;
}


.popular__circle--carriage {
    background-color: #54AD33;
}

.popular__item--carriage {
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 20px;
    max-width: 335px;
    height: 80%;
}


.popular__item--crib {
    position: absolute;
    right: 0;
    border-top-right-radius: 20px;
}

.popular__circle--crib {
    background-color: #DB8300;
}

.popular__item--bed {
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 20px;
}

.popular__circle--bed {
    background-color: #3868B3;
}

.popular__circle--toilet {
    background-color: #1FC0BB;
}


.popular__item--toilet {
    position: absolute;
    right: 0;
    border-top-right-radius: 20px;
}

.popular__item--puzzle {
    position: absolute;
    right: 0;
    border-top-right-radius: 20px;
}

.popular__circle--puzzle {
    background-color: #A43A3A;
}

.popular__item--bath {
    position: absolute;
    right: 0;
    border-top-right-radius: 20px;
}

.popular__circle--bath {
    background-color: #7834AD;
}

.popular__categories--name {
    position: absolute;
    z-index: 2;
    font-family: 'Comfortaa';
    font-weight: 400;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    max-width: 172px;
}
