
.promo__waveleft {
    position: absolute;
    top: -3px;
}

.promo__waveright {
    position: absolute;
    right: -90px;
    top: 24px;
}

.promo__wavebottom {
    position: absolute;
    top: 276px;
}


.promo__mail {
    top: 5px;
    position: absolute;
    padding-top: 48px;
    max-width: 363px;
    left: 315px;
}

.promo__image {
    top: -3px; 
    position: absolute;
    left: 53.17%;
}

.promo__mail--head {
    font-family: 'Comfortaa';
    color: #fff;
    line-height: 27px;
    margin-bottom: 17px;
}





