
.promo__mail {
    top: 5px;
    position: absolute;
    padding-top: 48px;
    max-width: 363px;
    left: 315px;
}

.promo__image {
    top: -5%;
    position: absolute;
    left: 30%;
}

.promo__mail--head {
    font-family: 'Comfortaa';
    color: #fff;
    line-height: 27px;
    margin-bottom: 17px;
}





