.sales {
    margin-top: 52px;

    &__block {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin-top: 0;
    }

    &__item {
        margin-right: 30px;
        max-width: 234px;

        &--name {
            color: #000;
            font-weight: 300;
            font-family: 'Comfortaa Light';
            padding: 8px 0;
        }

        &--price {
            font-family: 'Comfortaa';
            color: #F99C11;
            font-weight: 700;
            margin-top: 5px;
            font-size: 16px;
        }

        &--non {
            color: #000;
        }

        &--end {
            color: #000;
            text-decoration: line-through;
            margin-right: 5px;
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__img {
        position: relative;
        margin-top: 5px;

        &--percent {
            position: absolute;
            z-index: 2;
            color: #000;
            background-color: #F99C11;
            color: #fff;
            font-weight: 700;
            border-radius: 5px;
            padding: 7px;
            margin-top: 16px;
            margin-left: 10px;
        }
    }

    &__head--sale {
        font-size: 15px;
        color: #F99C11;
        background-color: #FFF0D2;
        padding: 5px;
        margin-left: 10px;
        border-radius: 10px;
    }
}




