.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    max-height: 47px;
    width: 100%;

    &__input {
        background: rgba(255, 255, 255, 0.15);
        border-style: none;
        background: none;
        padding-left: 15px;
        font-size: 15px;
        width: 100%;

        &::placeholder {
            font-family: 'Comfortaa Light';
            font-weight: 300;
            color: #fff;
        }
    }
}

