.section__head {
    font-family: 'Comfortaa';
    color: black;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.section__head--filter {
    margin: 19px 0;
}

.section__current {
    font-family: 'Comfortaa Medium';
    font-size: 17px;
    font-weight: 500;
    color: #000;
    margin: 0;
    padding: 10px 0 0 0;
}