.user-menu {
    margin-left: 10px;

    &__list {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    &__item {
        margin-left: 19px;
    }

    &__link {
        display: flex;
        align-items: center;
    }
}


